.field {
	width: 100%;
}

.fieldLayout {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.label {
	font-size: var(--type-ramp-base-font-size);
	line-height: var(--type-ramp-base-line-height);
	display: block;
	color: var(--foreground);
	user-select: none;
}
