.idea
.DS_Store

node_modules

dist
build
out

.turbo

**.env

# Extension
.vscode-test/
*.vsix
.idea
yarn-error.log
.trunk

apps/engine/package

# Studio
/.pnp
.pnp.js
/coverage
npm-debug.log*
yarn-debug.log*
.eslintcache
.next
.vercel