.DS_Store

node_modules/
dist/
build/
out/

.turbo/

**.env

# Extension
.vscode-test/
*.vsix
.idea/
yarn-error.log
.trunk

# Studio
.pnp
.pnp.js
coverage/
npm-debug.log*
yarn-debug.log*
.eslintcache/
.next/
.vercel/

# Backend
build/
generated/

# Workflow
.cache

# CLI package
apps/cli/package/