.app {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: var(--vscode-textCodeBlock-background);
}

.markdownContainer {
  height: 100%;
  position: relative;
  background-color: var(--vscode-textCodeBlock-background);
  padding-left: 2em;
  padding-right: 2em;
  overflow-y: scroll;
}
