.textField {
	flex-grow: 1;
}

.textFieldError::part(root):focus,
.textFieldError::part(root):focus-within {
	border-color: var(--vscode-inputValidation-errorBorder);
}

.textField::part(root) {
	background: none;
}

.textField::part(control) {
	font-size: 12px;
	opacity: 0.75;
	background: none;
}

.targetPathButton {
	padding: 0px 2px;
	margin-left: 4px;
	display: flex;
	align-items: center;
	background: var(--button-icon-hover-background);
}

.targetPathButton:not(:hover) {
	opacity: 0.7;
}

.label {
	font-size: 12px;
	width: 100%;
	cursor: inherit;
	opacity: 0.75;
	height: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
}

.autocomplete {
	background: none;
	color: var(--input-foreground);
	font-family: var(--font-family);
	border: none;
	position: absolute;
	opacity: 0.7;
	padding: 0 calc(var(--design-unit) * 2px + 2px);
	margin-top: auto;
	margin-bottom: auto;
	display: block;
	font-size: 12px;
	line-height: 26px;
	height: 26px;
	width: 100%;
	text-overflow: ellipsis;
	box-sizing: border-box;
	bottom: 0 !important;
}
