.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 1rem;
}

.icon {
  cursor: pointer;
}

.command {
  width: 200px;
  margin-bottom: 1rem;
}

.reminder {
  /* margin-top: 10px; */
  position: absolute;
  margin-bottom: 20px;
  bottom: 0;
}
