.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 4px;
}

.link {
  width: 100%;
  height: 24px;
  display: flex;
  align-items: center;
  color: var(--vscode-foreground);
}

.link::part(control) {
  display: flex;
  align-items: center;
  gap: 4px;
}

.link:focus {
  &::part(control) {
    border-color: transparent;
  }
}

.icon {
  width: 10px;
  height: 10px;
}
