.block {
  width: 100%;
  height: 25%;
}

.App {
  height: 100%;
  width: 100%;
}

#root {
  height: 100vh;
}

.resize-handle {
  height: 3px;
  background-color: transparent;
}

.resize-handle:hover,
.resize-handle:active {
  background-color: var(--vscode-focusBorder);
}

.vscode-panels {
  overflow: hidden;
}

.vscode-panels::part(tabpanel) {
  height: 100%;
  overflow: hidden;
}

.vscode-panels::part(tablist) {
  min-height: 35px;
  column-gap: 10px;
  padding: 0 2px;
}

.vscode-tab {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  padding: 0 2px;
  text-transform: uppercase;
  font-size: 11px;
}

.vscode-tab:focus-visible {
  border: none;
}

.vscode-panel-view {
  padding: 0px;
}

.toasterComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clearing-progress-ring {
  height: 4em;
  width: 100%;
}

.warning {
  font-size: var(--type-ramp-base-font-size);
  line-height: var(--type-ramp-base-line-height);
  display: block;
  color: var(--foreground);
}
