name: Unit Tests

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    test:
        name: Run unit tests
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [macos-latest, ubuntu-latest, windows-latest]

        steps:
            - name: Check out Git repository
              uses: actions/checkout@v2

            - name: Use Node.js 20
              uses: actions/setup-node@v3
              with:
                  node-version: 20

            - name: Install modules
              uses: pnpm/action-setup@v2
              with:
                  version: 9

            - name: Install dependencies
              run: pnpm install

            - name: Install latest docker-compose
              if: matrix.os == 'ubuntu-latest'
              run: sudo curl -SL https://github.com/docker/compose/releases/download/v2.24.7/docker-compose-linux-x86_64 -o /usr/local/bin/docker-compose && sudo chmod +x /usr/local/bin/docker-compose

            - name: Generate prisma types
              run: pnpm --filter @codemod-com/backend db:generate

            - name: Start Docker Compose
              if: matrix.os == 'ubuntu-latest'
              run: apps/backend/docker-compose up -d database

            - name: Wait for database to become ready
              run: |
                echo "Waiting for database to become ready..."
                until pnpm db:ping; do
                  echo "Database is not ready yet..."
                  sleep 5
                done
              env:
                DATABASE_URI: postgresql://postgres:postgres@database:5432/codemod?schema=public

            - name: Apply database migrations
              run: pnpm --filter @codemod-com/backend db:migrate:apply
              env:
                DATABASE_URI: postgresql://postgres:postgres@database:5432/codemod?schema=public

            - name: Build necessary packages
              run: pnpm build --filter codemod

            - name: Run unit tests
              run: |
                  if [[ ${{ matrix.os }} == "windows-latest" ]]; then
                    pnpm test:win
                  elif [[ ${{ matrix.os }} == "macos-latest" ]]; then
                    pnpm test --filter=!@codemod-com/backend
                  else
                    pnpm test
                  fi
              shell: bash
